Source: meeradio
Section: user/other
Priority: optional
Maintainer: Stanislav Ionascu <stanislav.ionascu@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev, qt-components-dev, applauncherd-dev, pkg-config
Standards-Version: 3.7.3
Homepage: www.ionascu.me

Package: meeradio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gstreamer0.10-wma
Description: Simple internet radio player
 MeeRadio is a simple internet radio player which helps the user to create personal playlist and listen it on the go via 3G / WiFi networks.
XSBC-Maemo-Display-Name: MeeRadio
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
 /wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHDwo5B8MZF8UAABJbSURBVHja
 3Zt7kFxHdcZ/p++9M7M7+9ZKq129bcuSZRsCuAjllFO2kW0gGAgxZSomECpAgMKW7ISEkKJIFVVJ
 BQKxzaOCAyThUYXjVxIHgi0ci4IQsI1tYYQlZHslrSxZz9Vj53Xv7XPyx70zq5V2Z1d+SaSnerZm
 76P7fH36nPOd7hZegmLXWEBAhOAQIkCAMP+bFTnxoZN+pYBhJBiKJ5E7xb/YfZXnJeA7DLlj8lF7
 lzliVjDAMo4wDJxHzEo8g6SswiigzJ8ingc0/+2A4ITeOPYjxIRsJeAABbYhbMHYjrGHkFH5pjTf
 wHNvfY6F/77w5QGgJce19lqEaxAupMpSYpZxlDJ1IMmFTPKbk3w8BTlufCd70dSP5j1Rfi3KwYmA
 EtDJOJ3soZOdGE+Y2Z3udvfQS64B+nbF3e2aKn4tjk+QsIwDdHIQRy0XSHMRTqV1m3NvDYcgQAcw
 D7VBq1poO8zsU+Gd4e0n9vVFAyD9mzSQR2StqNxCg1XsAfZjkHfodBTLv+cjDANFtpqzdSa2Ibwz
 1BcMQP1tdUr/ViJ5V7JCRD7FPq5jL7AvF9xxZhTNgViAsADo4jbD/jq6O9rRlOGUAai+pUrnf3RS
 /936pWLyFXvOzuY5IM6fEs6sYnktAEMgQ7LNAvtA6Z7SxqYscwagcnWF8r1lKldXLnO4+/0zGjJu
 lj9xpol+IhCZdvYLwVkuVfTK8r3lB5syzVkDJt4ycZko9+s2DeyInTnqfgrTQnrF3ErnTbii696u
 jXPWgPH3j690e933dZsuZdwyP22/ZgBIbhv6hWBFsM0Cu6L33t4dbQE49IZDpBelQbgl/BdGuU53
 ezsDZ/spFzccICNyW19H34f2HNmjI/ePzKwBh9546Cqt6Pf80x7SPCh5AT7qtONnGCESnh0Sd8Rv
 GL5v+L7jL4cn3u9Tf4se8GiitKK2U2xPRdGCoV4hFgJxBOJOlwUVEkgPGOGi8BZg9UlTYPfaZxn5
 /iL2XvHctVbn2+mW5HmOvJBaSrokpu9jZRoHE6o/qsMuwXaB7BdCF+HCAOcEJIfEOMWQ8PlpQrg6
 EivZO4c3DN/+q8u2cu6Dq6YKufvKPb/wO5Lz/UFF3PNT+lhjxgcPUfyQY8FV85i/apD0oKc+2qDx
 eEz9kYTK/9ZJtyrFsEBYDAnDoAXgS6UhphDMcwTLws0j949ccJIN2LV212sttQeSzXH5+fakCcA+
 3cezbheVYgUpw5I3LWL5G5ew4sqlWGpoTWmMJhx9oMKhfz1C42cpnR0dRGFEGAZ54y8yGHnYHJ1f
 qEgor1/8/cUPTQFgbO3Oz6T70pvSZ1P3Qlr2KFWrcMSOUrc6VatyJD1CPa4hRcfQ2kGWX72EZWsX
 EfUViLpDqMPBOw5z5DsTJI8oURwhMUgavLi2wyBcFKqbH3x22QPL/qwFwPc/+0DHWfct/8/0SX+5
 VvUUZz2YTG3Fo3hLUYyEmKrVSIhpaIPD8RGO1o4SFxJ6XtnFkstHGHr1ID3ndjOwuo/OYgfjPzzG
 sZ9MUH8kRseMeCzFxoVCEE7aj+aUsVOzHK7TUVgZfS+O9XfO/dHZGgIM/2Dh8rTql6b1ZI4vsyk8
 xHR60LJ0UIEeQhQjdSk9pR7qxTrHtMLE5mOMbtrJFnkKNyz0nN1Nz/Jullw5zOLrRlj20RFqzzao
 ba9TeazOxE+qHN44ju42OjpKhIWIIAhOST+07nE1t9QVZAXwdAggCcO+lg5783Nyc4bhE08jjqn7
 OgkJZjYn5moomtP6DjqILCKkzsSOCntHD7CTXTz8jUfxoad/eS/nXHUWq9+0kiXvGWHwPX1oTak/
 02D/XYc4fO8xbDt0lDoIw3BuQBiktWQ4KAbDLQBc1Y34CV/26tsmMwzD46lpjb5ruznnE2dRWlJ8
 ARkYmfFbWvkVRU0xb5gZQUdINC+k53VdyGeE+s4Go3/xLJXvVihKEck/7ZIqUpN+6ZHlwI/Cn179
 kzCuJL+hDY83L7ON/oRNEF0VcPbnl+AKDp94RF6e8KbVjpF5E1MKSyLO+cclbP79p6j9oNYCoY0Q
 QgNQWb3pdY8Hrry3K+QYi9PUk5qn3Se2mFqhxsBbewmLIZbayyb8TIBYakSdET1vLlMNqySWtJUh
 NU+aejT2KwUXhdXOSuiqbrl6xUzbGkE1JZWEsD/IoJTTz5OyPhhuRKgEExTTImJtNQD1oGkwKJG4
 MKpGgdZ1sU89irb1KU0EmcHgxdUYnyhRR0hYCGe3R5aBqF5Jqgk+VkzzvEsgBIWAQjlCnMzi6wRP
 SkUrdGk3gQTt200Nn/pVLnJRmEjiDOv06mex5Jl/V1PMsrRL834XOPb8fC/3f/JB9j25n9VvWslv
 /+nFdA91te1IFEXs2rSbp773DE/dPcqhxw+TxCkeJex0zHvNAK+4bg3LL1nCgvPmo6m20U4jIW0N
 Urtozszw6gumJqFXDTXV/tSn0Ib9Zx4gRfF4VdRnFREqByd44GM/5NB/H6bDdbL51q0Ui0Uu/cRv
 4UI3rdq6SHjwMz/iia/8knhbykChnxXhCqJChMdT1QpHf1rhB//zEx5a/SiXfPJ1XPj2NdOCIE7w
 6vGWVRU/szPL1yScD+YHShjiDVTxlic/bGYNUDzecluRV4B9v9jPsccmWFxYRJESEzLBjrt3Ed/Y
 oNh7sps0ge9+5EFGv7mDXt9Hb2cvHdJBgQJOBDOj7LroK8TUohr7R/dzz7u+Q+2LdV773lfhE3/C
 6GfBmJpmps7S9ilrw8y8qCGhecOrYqbSfgoIXjKhVRWfa4CI0LOsm3ln9RNuiuhwnahXhi9ZgEQB
 3p88Ypu/vYXt3xhjSIfpcd0UrYhrKq2RLwyFRIQUpEDgHBbCPR/4DkPnz2fxa0amguAkn5oZCIoh
 zBzUiYl4VfCCG+sZK3nVzAWazlhTS3OEMwAsr+o93YvKnP/hVZReWSDpb9BzaRer3382LqJ1X7NO
 7Jvg4U8/Tm/cS490U6AAYiRpQiWu0eiKqZXq1OIaqaYIQgdl5st8lnQs5q7r7iWpxZkdavZBPapN
 DqL5VGgnSzaNvXnCJ+dtOWdwbBDv/azZq+aL9XgbkLkHznrbUha8ZpD67jpdZ5cpzitMXm8OVOjY
 dt8olS1VhjoX4szh8TQaMYVVIStvWkpxuABqVLbV2fJXT1OKSwQuoCydzGc+e/fv5eHbHuN1119E
 WveTGqB538i9WXvKivcpYiFhwxqlTHV82wjKMEw0i+V1srbmYayUhgqUFhbAOGmeAjgnPPHlXzIv
 mkdBIsBoaANdpZz/D6vpXdPdurf/4l7Kryjx46sfpccy19YpHXSlZXb/eC/x++JJ16jkfcmYhs9l
 kTZeQLNpj0uSpvNQUvyM1ZOpjpJNhaYGnFTTNtfUOLTpCOWoIyMl5qm4Cj1XdtL/qt7s2WZNlIGL
 +hj6g3kcq0/gzYMJBSlSG6tzZOwoplne0bzlc/94SdrL0rweWmx11exfs3FhFcXn6GlucObMwwPH
 vi376aCEs7BFrJJiSu+F3aSN9KT3WcMYuKSPZ768kw5KiAkFiUirCXElzkEhywmo4cmA8KazZnPV
 POqFcPXBVU95UUxsVkrbFNpOtAFzzU6XwuNIcaauaZpSO1zL1PJEmyGOiYMTJCR4UwICnAWE5jJ2
 mDNEcbRUOjPUhmsDgIigZN7PDU8M1zUnQZkaTf9pKo7iUTNMT61qonSNlJGC5Nmi7F1JI2Z04xg+
 9lPv90pYCnjy9l8RBAGKJyUl1gbhvIjSQClTfzVUM4/gTSeDtZkkyWMFNY9Xj2tZdjPzppl7mKaq
 WvO+3Av4k6qZomn+d5rrGqcsffMI1XqdVDMgA0JGN4zx6Ld+TqPSII0T0jjBVLnng99l/48PUQqL
 mGZeqGZ1osWOzqHiZLs+G7zMQBumPotVpqvHyaqmhLHGWIaczJbTUcuQa7nB3AuICHEtYexnz7Lv
 6YMMrRpk6asWERSmkhKLjWXXLGLs7kcoUiCwgEgKdKVd3P/RjWy9/ykGVw+AwnMP7+fwQ8dYWFhA
 QJhb95S42OCsa9aQ1NLJ9j2ob2pApgOz2AAJLcSps9CrTzAbN6xfZ7EBTTLUMoLNDjjhp197lEe+
 tIm4mqAlz+s/cQmvfseFGZM7LoE4/1UDLLhqgKP3VegqlIkI6JNeXCSMbzjKvg0HcTg6pZOF0RCd
 dCImKJ5KXGXg8l4WXTxEWk+Pi+yOs0/5NG7n0gXBTPd79WnoVEzVqh7f384Itpa8yKM6by3qenD7
 OE/fu52BRj+FqMDhxhEevu0x1rzhXErdU7mABMKaD6/koV/+nPi5mJCQAhF99FKOOlt8LCAglJDA
 AkyURpqgQym/dfNFJLV0isfSvC/WDINmiWkEIdU0dqoWHrbDPnLRmDhZ5GkXDUorymoakCYXMFUi
 jShKiSIlTIwatcww+ZMDooEL+7jwkyvZ9Je/wh/KrLuIo8jJxClpkpulxuXfujjTuhOdj5u0T2aK
 irZNiDjnwLFVcInr1u60QHGHSu6a7ORq1pz/ecChhvlJLtC3tIflly0mISVOGniUV167hqAYnMQF
 TJW0mrDo8iF+86uvoHttB2lfTC2uEscJaeJJE08cJ1TiKn4wZuBt3Vz89VcTDYTTvk+bfWn6qqax
 nq5imICiB7xPNRzVHemgGxxzCO3S4pJnhFo2QCfjADHhwj9axbxzBzi2ZYKucztZdNlCEEP9DNmj
 CaVnRZmLPn0Bh544zPhjxxh/9Ei2t9CEqD+k94Iuei/oom91Dy5yaDJD/1pxgLXcXPspADi3rVPK
 SfjxPR9Pvzby1U3epRg6Y1pcAZNmIJQJprkNQA1XDFi8diF6qeFCac3NWSIrAPrO76V3dQ9Lf294
 CsUNCg4ky8D5RNuxtFY+QPF5nkJmTIubc5JoY8tbd1/nQ4AJf2x35KKKomWbwX1IriGKkqXP/BQy
 NHU0nmeCs3CC29W5bQ0Wy9ygNUNhdMbxF0TM2bhXv721QaLqa3t6gnCPNz2HNp5AUZIk5cBTh1h+
 2eJJDTjt24GMvZsOILGASR5oz3x3GNge73VPC4C7KneNvrv87p3m7Bxrl3hEsVTZfM8WllwyzMLz
 FuTrgqdzbQB2Pb6HZ/5rJ0Xf0UrdzdQnCRwqtjNER1sAPFx7pP7ezj/8GQW7NEnVtcv3F6zAsV3H
 uON993LWlUvpW9abszg5LcKPbz/K2IbddB3tokghc8sz7DYxM6JCoAHuiffv/6BO3SOk3OlC9yGg
 bGYyHQiCUKBAv/QzcTTimTvGqLJ19gzMS6b6jhJF+qSfbukmJMy3NZ28wycP8syFrpr69M5p1yq/
 2Pf5X6TV9Pzp1vsmd7rnNNZSYklIiLHTuIkwtJCiFImI8sSqzJgFCqKAqDPa/OHDH7lgyi6xL/V/
 gQ+PfwSMTwXF4Ns+8XaiFhyPrMNRkAIhEUbptC+NHf9pN/pBIRCH+xTA3UN38va915wM1+e7b9ni
 G36VJjrt2t/xDdgZtH1UZlkJcpEjKAZbrz+2bvUJXvukss6FLjMm07AjYapWnCmfNsKbiOBCR9mV
 100TtkyWL3Tfys8bmzfUpfFNieT/wSbZbJRc5BAntz15bPOGf+77pzYbNvLyd+VPr4gs2mCxnd1k
 fL+OxcxwgSMshNtU9IobKuvbb5aeYgs6b7kUY0OapIH56d3imS68BGJhFHqEK66vrts4A4+aVniu
 r67bqKZXutB5CbL1eZstbXxmCG5YlnhxofNqeuX11XUbP995C3MG4PrqOm7tuJl19RsfFJMrXOC2
 SSCISLaAeibCYK0NFyKB4AK3TUyuWFe/8cFbO27m+uq6uQMAcENtPbeWbuaGxvqNgqyNXfx1CQRx
 gonZGQNELriJmTgh7+Nthl1xQ2P9xltLN3NDbX373MBcyh9H7w/Ok/PWYtwCrMrz95aF5KfBY1gr
 DjFxInnydauIrDOzDeuTm+YUn895T/gaWePXxzfdtz65abWZvVOcbHaBq4iTKeTbaO6fOaE+DwFP
 rHY8VxcQJ+oCV3HObQ4I3rk+uWn1uvjG+0RkzuTkBY3bzcHnsqOzcCHG0pR0aUDQNa3Ak/tPZFbR
 ZzitYGIIMg7sEZGdwBMgd65Pb3zpj85OETz8HOvTm1q/P8PfushFKyZkYmmZ8ghwHrASYxBYBRTy
 851zH31hP9kpxa0IB4BtwBbDtmPs8epHP8qft0b69vK3ubbyzpcHgNnK3wefzY47Kw7y4/NywvH5
 2bWgebw6waFAcqP/kxf9+Pz/ATYkNtYHvWcKAAAAAElFTkSuQmCC
